.grid-container {
  background-color:#e0ffc3;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr;
  box-shadow: #01720a 0px 5px 10px;
  gap: 0px 0px;
  grid-template-areas:
    ". . . .";
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    position: sticky; top: 0px;
    z-index:1 ;
}

.grid-container * {
  background-color: #01720a50;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position:relative;
  padding: 5px;
  margin: 10px;
}



.readingCharts {
  box-shadow: #000000 10px 0px 5px;
  display:inline-block;
  z-index: 2;
  margin:10px;
}

.App {
  text-align: center;
  background-color: #01720a;
}



